# Alegra variables
EMAIL_ALEGRA=Value
APIKEY_ALEGRA=Value
URL_API_ALEGRA=Value

# DATABASE variables
DATABASEPASSWORD=Value
DATABASE_URL=Value

# Vertex AI
GOOGLE_CLOUD_PROJECT=Value
GOOGLE_CLOUD_LOCATION=Value